In [1]:
df = spark.read.json("/FileStore/tables/people.json")

In [2]:
df.show()

In [3]:
# Print the schema in a tree format
df.printSchema()

In [4]:
# Select only the "name" column
df.select("name").show()

In [5]:
# Select everybody, but increment the age by 1 
df.select(df['name'], df['age'] + 1).show()

In [6]:
 # Select people older than 21
df.filter(df['age'] > 21).show()

In [7]:
# Count people by age 
df.groupBy("age").count().show()

In [8]:
# Register the DataFrame as a SQL temporary view
df.createOrReplaceTempView("people")

In [9]:
 sqlDF = spark.sql("SELECT * FROM people")
 sqlDF.show()

In [10]:
# Register the DataFrame as a global temporary view
df.createGlobalTempView("people")

In [11]:
# Global temporary view is tied to a system preserved database `global_temp`
spark.sql("SELECT * FROM global_temp.people").show()

In [12]:
# Global temporary view is cross-session
spark.newSession().sql("SELECT * FROM global_temp.people").show()